@CHARSET "UTF-8";
.icon-user {
    background-image: url(../images/user.png) !important;
}
 
.icon-user-add {
    background-image: url(../images/user_add.gif) !important;
}
 
.icon-save {
    background-image: url(../images/save.gif) !important;
}
 
.icon-reset {
    background-image: url(../images/stop.png) !important;
}
 
.icon-grid {
    background-image: url(../images/grid.png) !important;
}
 
.icon-add {
    background-image: url(../images/add.png) !important;
}
 
.icon-delete {
    background-image: url(../images/delete.png) !important;
}

.icon-buscar {
    background-image: url(../images/buscar.png) !important;
}

.icon-modificar {
    background-image: url(../images/modificar.png) !important;
}

.icon-cancelar {
    background-image: url(../images/cancelar.png) !important;
}

.fondos {
  background-image: url("resources/images/fondo.jpg");
}